<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OpenSourceProject</key>
	<string>libgit2</string>
	<key>OpenSourceVersion</key>
	<string>1.7.2</string>
	<key>OpenSourceSCM</key>
	<string>https://github.com/libgit2/libgit2.git</string>
	<key>OpenSourceSHA1</key>
	<string>a418d9d4ab87bae16b87d8f37143a4687ae0e4b2</string>
	<key>OpenSourceImportDate</key>
	<string>2024-02-23</string>
	<key>OpenSourceLicense</key>
	<string>GPL</string>
</dict>
</plist>
