//
//  Packaging.xcconfig
//  libgit2
//
//  Copyright © 2024 Apple Inc. All rights reserved.
//

#include "XcodePackaging.xcconfig"
#include "SwiftPlaygroundsPackaging.xcconfig"

GIT2_PACKAGE = Xcode // default package if not overridden elsewhere

// Packages declare things like install paths and the features supported by the package.
//
// Package xcconfig files should define the following build settings:
//
// GIT2_<package>_DYLIB_INSTALL_PATH
// GIT2_<package>_DYLIB_PUBLIC_HEADERS_FOLDER_PATH
// GIT2_<package>_SUPPORTS_GSS
// GIT2_<package>_SUPPORTS_SSH

// MARK: - Installation settings

GIT2_DYLIB_INSTALL_PATH = $(GIT2_$(GIT2_PACKAGE)_DYLIB_INSTALL_PATH)
GIT2_DYLIB_PUBLIC_HEADERS_FOLDER_PATH = $(GIT2_$(GIT2_PACKAGE)_DYLIB_PUBLIC_HEADERS_FOLDER_PATH)

// MARK: - GSS

GIT2_SUPPORTS_GSS = $(GIT2_$(GIT2_PACKAGE)_SUPPORTS_GSS)

GIT2_GSS_EXCLUDED_SOURCE_FILE_NAMES = $(__GIT2_GSS_EXCLUDED_SOURCE_FILE_NAMES_$(GIT2_SUPPORTS_GSS))
    __GIT2_GSS_EXCLUDED_SOURCE_FILE_NAMES_YES =
    __GIT2_GSS_EXCLUDED_SOURCE_FILE_NAMES_NO = libgssapi_krb5.dylib GSS.framework
    __GIT2_GSS_EXCLUDED_SOURCE_FILE_NAMES_ = $(__GIT2_GSS_EXCLUDED_SOURCE_FILE_NAMES_NO)

GIT2_GSS_PREPROCESSOR_DEFINITIONS = $(__GIT2_GSS_PREPROCESSOR_DEFINITIONS_$(GIT2_SUPPORTS_GSS))
    __GIT2_GSS_PREPROCESSOR_DEFINITIONS_YES = GIT_GSSAPI
    __GIT2_GSS_PREPROCESSOR_DEFINITIONS_NO =
    __GIT2_GSS_PREPROCESSOR_DEFINITIONS_ = $(__GIT2_GSS_PREPROCESSOR_DEFINITIONS_NO)

// MARK: - SSH

GIT2_SUPPORTS_SSH = $(GIT2_$(GIT2_PACKAGE)_SUPPORTS_SSH)

GIT2_SSH_HEADER_SEARCH_PATHS = $(__GIT2_SSH_HEADER_SEARCH_PATHS_$(GIT2_SUPPORTS_SSH))
    __GIT2_SSH_HEADER_SEARCH_PATHS_YES = $(DEVELOPER_DIR)/usr/local/include/ssh2-1
    __GIT2_SSH_HEADER_SEARCH_PATHS_NO =
    __GIT2_SSH_HEADER_SEARCH_PATHS_ = $(__GIT2_SSH_HEADER_SEARCH_PATHS_NO)

GIT2_SSH_LDFLAGS = $(__GIT2_SSH_LDFLAGS_$(GIT2_SUPPORTS_SSH))
    __GIT2_SSH_LDFLAGS_YES = $(DEVELOPER_DIR)/usr/lib/libssh2.dylib
    __GIT2_SSH_LDFLAGS_NO =
    __GIT2_SSH_LDFLAGS_ = $(__GIT2_SSH_LDFLAGS_NO)

GIT2_SSH_PREPROCESSOR_DEFINITIONS = $(__GIT2_SSH_PREPROCESSOR_DEFINITIONS_$(GIT2_SUPPORTS_SSH))
    __GIT2_SSH_PREPROCESSOR_DEFINITIONS_YES = GIT_SSH GIT_SSH_MEMORY_CREDENTIALS
    __GIT2_SSH_PREPROCESSOR_DEFINITIONS_NO =
    __GIT2_SSH_PREPROCESSOR_DEFINITIONS_ = $(__GIT2_SSH_PREPROCESSOR_DEFINITIONS_NO)

// MARK: - Combined build settings

GIT2_PACKAGE_EXCLUDED_SOURCE_FILE_NAMES =  $(GIT2_GSS_EXCLUDED_SOURCE_FILE_NAMES)
GIT2_PACKAGE_HEADER_SEARCH_PATHS = $(GIT2_SSH_HEADER_SEARCH_PATHS)
GIT2_PACKAGE_LDFLAGS = $(GIT2_SSH_LDFLAGS)
GIT2_PACKAGE_PREPROCESSOR_DEFINITIONS = $(GIT2_GSS_PREPROCESSOR_DEFINITIONS) $(GIT2_SSH_PREPROCESSOR_DEFINITIONS)
